#u2006
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
}

.js #u2006.pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4281-4
{
	line-height: 24px;
	color: #009988;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#menuu2007
{
	position: fixed;
}

#u2014-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2028-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2042-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2045-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2056-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2011.MuseMenuActive #u2014-4 p,#u2025.MuseMenuActive #u2028-4 p,#u2039.MuseMenuActive #u2042-4 p,#u2044.MuseMenuActive #u2045-4 p,#u2053.MuseMenuActive #u2056-4 p
{
	color: #009988;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5220
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u2008,#u2011,#u2022,#u2025,#u2036,#u2039,#u2043,#u2044,#u2050,#u2053,#u5220_align_to_page
{
	position: relative;
}

#u5221-6
{
	color: #333333;
	line-height: 21px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5221-2
{
	color: #009988;
	font-weight: 700;
}

