#u6839
{
	-pie-box-shadow: 0px 5px 10px #EFEFEF;
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
}

#menuu6840
{
	position: fixed;
}

#u6876
{
	border-style: none;
	border-color: transparent;
	background-color: #009988;
	position: relative;
}

#u6877-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #333333;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6862
{
	border-style: none;
	border-color: transparent;
	background-color: #009988;
	position: relative;
}

#u6863-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #333333;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6857
{
	border-style: none;
	border-color: transparent;
	background-color: #009988;
	position: relative;
}

#u6859-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #333333;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6885
{
	border-style: none;
	border-color: transparent;
	background-color: #009988;
	position: relative;
}

#u6886-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #333333;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6875,#u6861,#u6854,#u6882,#u6868
{
	position: relative;
}

#u6869
{
	border-style: none;
	border-color: transparent;
	background-color: #009988;
	position: relative;
}

#u6871-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #333333;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6876.MuseMenuActive #u6877-4 p,#u6862.MuseMenuActive #u6863-4 p,#u6857.MuseMenuActive #u6859-4 p,#u6885.MuseMenuActive #u6886-4 p,#u6869.MuseMenuActive #u6871-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6889-4
{
	line-height: 24px;
	color: #009988;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u6890
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u6891-6
{
	text-align: center;
	font-size: 11px;
	color: #333333;
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6891-2
{
	color: #009988;
	font-weight: 700;
}

