#u8008
{
	position: fixed;
}

#u8059
{
	-pie-box-shadow: 0px 5px 10px #EFEFEF;
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u8058-4
{
	color: #009988;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u8055-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #777777;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u8013-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #777777;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u8048-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #777777;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u8021-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #777777;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#menuu8009,#u8051,#u8052,#u8010,#u8011,#u8044,#u8045,#u8017,#u8018,#u8024,#u8027
{
	position: relative;
}

#u8028-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #777777;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u8052.MuseMenuActive #u8055-4 p,#u8011.MuseMenuActive #u8013-4 p,#u8045.MuseMenuActive #u8048-4 p,#u8018.MuseMenuActive #u8021-4 p,#u8027.MuseMenuActive #u8028-4 p
{
	color: #009988;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5911
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5912-6
{
	color: #333333;
	text-align: center;
	line-height: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5912-2
{
	color: #009988;
	font-weight: 700;
}

