#u5860
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
}

.js #u5860.pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5910-4
{
	line-height: 24px;
	color: #009988;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#menuu5861
{
	position: fixed;
}

#u5866-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u5900-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u5905-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u5891-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u5862,#u5865,#u5896,#u5899,#u5903,#u5904,#u5889,#u5890,#u5869,#u5872
{
	position: relative;
}

#u5875-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u5865.MuseMenuActive #u5866-4 p,#u5899.MuseMenuActive #u5900-4 p,#u5904.MuseMenuActive #u5905-4 p,#u5890.MuseMenuActive #u5891-4 p,#u5872.MuseMenuActive #u5875-4 p
{
	color: #009988;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5911
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5912-6
{
	color: #333333;
	line-height: 21px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5912-2
{
	color: #009988;
	font-weight: 700;
}

